.App {
  margin: 0;
  padding: 5;
}

.wrap-Brand {
  display: flex;
}

.logoName {
  padding-left: 15px;
}

.home-container {
  text-align: center;
  margin-top: 65px;
}

.welcome-heading {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

.welcome-text {
  text-align: center;
  margin-top: 30px;
  text-decoration: underline;
}
.categories {
  margin-top: 20px;
}

.categories ul {
  position: relative;
  list-style-type: none;
}

.categories ul li {
  text-decoration: none;
}

.category-link {
  color: black;
  text-decoration: none;
  font-style: normal;
}

.home-wrap {
  margin: 25px 0;
}

.link {
  font-weight: bold;
  border: 1px solid whitesmoke;
  margin: 0px 5px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  font-style: normal;
}

.link:hover {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.link:visited {
  background: rgba(0, 0, 0, 0.2);
}
.link:active {
  background: rgba(0, 0, 0, 0.2);
}